@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(405deg);
  }
}

.spin-slow {
  animation: rotate 45s linear infinite;
}

.spin-slower {
  animation: rotate 90s linear infinite;
}

.spin-slowest {
  animation: rotate 135s linear infinite;
}

.spin-slow,
.spin-slower,
.spin-slowest {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
 } 
